<%- include header.ejs %>
<%- include('../partials/main_nav.ejs'); %>

<!-- Main Content -->
<main class="page">
    <h1 class="pageTitle">
        About
    </h1>

    <p class="aboutText">
        OCSL was founded in 2022. As a member of the league you must adhere to the safety protocols set in place. Any violence, racism, or harrasment will not be tolerated. Players may be fined and/or penalized for such behaviour. As a community we must all respect one another and compete fairly.
    </p>

    <div class="dividerLine" style="margin-top: 40px; margin-bottom: 40px; width: 80vw;"></div>


    <h1 class="pageTitle">
        Pricing
    </h1>

    <p class="aboutText">
        One time fee of $500 is required per player.
        <br>        <br>

        This covers the jerseys, transportation, coaching, and all other equipment.
        <br>        <br>


        Payments can be made by cheque or via phone call during office hours.    </p>

    <div class="dividerLine" style="margin-top: 40px; margin-bottom: 40px; width: 80vw;"></div>

