<!-- Bottom Nav Bar -->
<nav class="navbar fixed-bottom navbar-dark bg-dark">
  <a href="/about" class="btn btn-secondary" role="button">
  <i class="fas fa-plus-circle"></i> View Schedule</a>                       
  <h6 class="navbar-text">&copy;Copyright OCSL. All Rights reserved.</h6>
  <a href="/book-list/add" class="btn btn-primary" role="button">
  <i class="fas fa-plus-circle"></i> Register</a>
</nav>