<%- include header.ejs %>
<%- include main_nav.ejs %>
<!-- Main Content -->
<main>
  <div class="jumbotron jumbotron-fluid">
  <div class="container">
  <br> 
  <br>
    <h1> <i class="fa-solid fa-lg">Oshawa Children's </i></a></h1>
    <h1> <i class="fa-solid fa-lg"><br>Soccer Leauge </i></a></h1>
        </li>

    <title>Contact</title>  
 
<p><br>Welcome to our Get to know us through our web page.</p>

    <img src="Assets/images/Kidssoccer.jpg"alt="soccer" width="800" height="500"> 
<br>
<br>

<p>Welcome to the Oshawa Children's Soccer Club, .</p>
</div> 
  </div>
</div>
</main>
<%- include bottom_nav.ejs %>
<%- include footer.ejs %>
