<%- include header.ejs %>
<%- include('../partials/main_nav.ejs'); %>

<!-- Main Content -->
<main class="page">
    <h1 class="pageTitle">
        Oshawa Children's Soccer League
    </h1>

    <img class="image" src="/assets/images/kidsPlayingSoccer.jpg" alt="Kids playing soccer">

    <div class="fullWidthFlex">
        <div class="side">
            <p class="about">
                Bring your family and friends together for another year of OCSL! We have another year of action packed soccer for players aged 8-12. Join over 200+ other atheletes and compete for this years OCSL championships.
            </p>

            <br />
            <a href="/schedule">View schedule</a>
            <a class="registerBtn" href="/register">
                Register
            </a>
            <br>
            <br>
            <br>

        </div>
        <div class="side">
            <p>Last year's champions</p>
            <div class="ranks">
                <div class="rank">
                    <div class="name">1. Arsenal</div>
                    <div class="score">19-5</div>
                </div>

                <div class="rank">
                    <div class="name">2. Dortmund</div>
                    <div class="score">16-8</div>
                </div>

                <div class="rank">
                    <div class="name">3. United</div>
                    <div class="score">15-9</div>
                </div>
                <p>MVP: John Doe</p>
            </div>
        </div>
    </div>
</main>
