<nav>
    <a class="logoSection" href="/">
        <img src="/assets/images/ball.png" alt="soccer ball" />
        <p class="logoText">OCSL</p>
    </div>

    <div class="navLinks">
        <a href="/about">About</a>
        <a href="/schedule">Schedule</a>
        <a href="/login">Login</a>
        <a class="registerBtn" href="/register">
            Register
        </a>

    </div>
</nav>