<%- include header.ejs %>
<%- include('../partials/main_nav.ejs'); %>
<!-- Main Content -->
<main>
  <div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4"> B&B New Franchises page</h1>

    <title>NEW Franchises</title>  
 
<p>Here below you can see our new Franchises We are a company that strives to bring Halal and Authentic middle-eastern cuisine to Canadians all around the GTA.
So we are expanding out to reach more and more Canadian Families around the GTA.</p>

    <img src="Assets/images/location.jpg"alt="property" width="1200" height="650"> 
<!--end-->
  </div>
</div>
</main>
<%- include bottom_nav.ejs %>
<%- include footer.ejs %>
