<%- include header.ejs %>
<%- include('../partials/main_nav.ejs'); %>

<!-- Main Content -->
<main class="page">
    <h1 class="pageTitle">
        2022-2023 season
    </h1>

    <div class="scheduleContainer">
        <div class="scheduleRow">
            <div class="teams">
                <p class="classifier">
                    Teams playing
                </p>
            </div>
            <div class="location">
                <p class="classifier">
                    Location
                </p></div>
            <div class="time">
                <p class="classifier">
                    Date/Time
                </p>
            </div>
        </div>
        <div class="dividerLine"></div>

        <!--   there should be a foreach here     -->

        <div class="scheduleRow">
            <div class="teams">
                    United vs. Chelsea
            </div>
            <div class="location">
                Field B
            </div>
            <div class="time">
                November 30, 12PM
            </div>
        </div>
        <div class="dividerLine"></div>
    </div>
</main>