@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background: #F1F5F2;
    font-family: 'Noto Sans', sans-serif;
}

nav {
    position: fixed;
    width: 100vw;
    height: 100px;
    display: flex;
    align-items: center;
    background: linear-gradient(to bottom,#F1F5F2 10%,transparent 100%);;
}


nav .logoSection {
    position: relative;
    left: 38px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #151515;

}

nav .logoSection img {
    width: 60px;
    height: 60px;
}

nav .logoSection p {
    margin-left: 20px;
    font-size: 2.5em;
}

nav .navLinks {
    position: relative;
    right: 38px;
    display: flex;
    align-items: center;
    margin-left: auto;
}

nav .navLinks a {
    color: #151515;
    margin-left: 25px;
    font-size: 1.5em;
}

nav .navLinks .registerBtn {
    background: #40C98C;
    color: white;
    padding: 10px 20px;
    box-shadow: 0px 4px 10px 2px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    font-size: 1.5em;
    margin-left: 25px;
    text-decoration: none;
}

.scheduleContainer {
    margin-top: 20px;
    width: 90vw;
    background: #FFFFFF;
    border: 1px solid #323031;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    padding: 10px 40px;
    font-size: 1.4em;
}   


.page {
    width: 100vw;
    padding-top: 120px;
    /*height: calc(100vh - 100px);*/
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page .pageTitle {
    font-size: 3em;
    text-align: center;
    width: 40vw;
    font-weight: lighter;
    padding-top: 50px;
}

.page .image {
    margin-top: 50px;
    width: 60vw;
}

.page .fullWidthFlex {
    width: 100vw;
    display: flex;
    justify-content: center;
}

.page .fullWidthFlex .side {
    padding: 60px 150px;
    width: 50%;
    position: relative;
    left: 0;
    height: 100px;
}

.page .fullWidthFlex .side .about {
    font-size: 1.4em;
    font-weight: lighter;
    margin-bottom: 40px;
}

.page .fullWidthFlex .side a {
    color: #151515;
    font-size: 1.4em;
    font-weight: lighter;
    margin-bottom: 20px;
}

.page .fullWidthFlex .side .registerBtn {
    background: #40C98C;
    color: white;
    padding: 10px 20px;
    box-shadow: 0px 4px 10px 2px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    font-size: 1.5em;
    /*margin-left: 25px;*/
    text-decoration: none;
    position: relative;
    left: calc(50% - 100px);
    margin-bottom: 20px;
}

.page .fullWidthFlex .side p {
    font-size: 1.7em;
    font-weight: lighter;
    margin-bottom: 15px;
}


.page .fullWidthFlex .side .ranks {
    width: 80%;
    border-radius: 10px;
    background: #D9D9D9;
    padding: 20px;
}

.page .fullWidthFlex .side .ranks .rank {
    width: 100%;
    display: flex;
    font-size: 1.3em;
    margin-bottom: 8px;
}

.page .fullWidthFlex .side .ranks .rank .score {
    margin-left: auto;
}

.page .fullWidthFlex .side .ranks p {
    width: 100%;
    text-align: center;
    font-size: 1.3em;
    margin-bottom: 0px;
}


.scheduleRow {
    display: flex;
}

.scheduleContainer .teams, .scheduleContainer .location, .scheduleContainer .time {
    height: 50px;
    display: flex;
    align-items: center;
}

.scheduleContainer .teams {
    width: 50%;
}

.classifier {
    opacity: 0.8;
    font-size: 0.7em;
}

.scheduleContainer .location {
    width: 25%;
}

.scheduleContainer .time {
    width: 25%;
}

.dividerLine {
    width: 100%;
    height: 1px;
    background: #323031;
}